Source: openmediavault-restic
Section: net
XB-Plugin-Section: backup
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.3.0

Package: openmediavault-restic
Architecture: all
Depends: openmediavault (>= 7),
         restic,
         ${misc:Depends}
Description: restic plugin for OpenMediaVault.
 Restic is a deduplicating backup program.
 Optionally, it supports compression and authenticated
 encryption.
