Source: openmediavault-restic
Section: net
XB-Plugin-Section: backup
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2

Package: openmediavault-restic
Architecture: all
Depends: openmediavault (>= 8),
         restic,
         ${misc:Depends}
Description: restic plugin for OpenMediaVault.
 Restic is a deduplicating backup program.
 Optionally, it supports compression and authenticated
 encryption.
